/* colors */
$black: #222222;
$white: #ffffff;
$gray: #babcbf;
$gray-light: #e7e7e8;
$gray-dark: #606569;
$red-dark: #bf3535;

/* breakpoints */
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xxs: 360px;
