.card {
    @include adaptive-value('padding-top', 25, 8, 0, 1400);
    @include adaptive-value('padding-bottom', 25, 8, 0, 1400);
    @include adaptive-value('padding-left', 30, 8, 0, 1400);
    @include adaptive-value('padding-right', 30, 8, 0, 1400);
    @include adaptive-value('width', 335, 161, 0, 1400);
    @include adaptive-value('border-radius', 4, 2, 0, 1400);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 15px 5px rgba(191, 53, 53, 0.2);
    }

    &__label-box {
        @include font(500, clamp(0.5rem, 0.385rem + 0.513vw, 1rem));
        @include adaptive-value('margin-bottom', 54, 27, 0, 1400);
        @include adaptive-value('gap', 10, 4, 0, 1400);
        letter-spacing: 0.01em;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 0;
        align-content: flex-start;
    }

    &__label {
        @include adaptive-value('padding-top', 5, 2, 0, 1400);
        @include adaptive-value('padding-bottom', 5, 2, 0, 1400);
        @include adaptive-value('padding-left', 15, 8, 0, 1400);
        @include adaptive-value('padding-right', 15, 8, 0, 1400);
        border-radius: 2px;
        background: $gray-light;
    }

    &__label--leasing {
        order: 1;
    }

    &__label--advance {
        order: 2;
    }
    &__label--guaranty {
        order: 3;
    }
    &__label--free {
        background: rgba(64, 129, 4, 0.2);
    }

    &__label--busy {
        color: $gray-dark;
    }

    &__image {
        @include adaptive-value('margin-bottom', 50, 25, 0, 1400);
    }

    &__name {
        @include adaptive-value('margin-bottom', 20, 6, 0, 1400);

        * {
            @include font(500, clamp(1rem, 0.798rem + 0.897vw, 1.875rem));
            text-transform: uppercase;
        }
    }

    &__brand {
        display: block;
    }

    &__model {
        color: $red-dark;
        display: block;
    }

    &__payment {
        @include font(500, clamp(0.625rem, 0.538rem + 0.385vw, 1rem));
        @include adaptive-value('margin-bottom', 15, 6, 0, 1400);
        letter-spacing: 0.01em;
    }

    &__payment-leasing {
        @include font(600, clamp(0.875rem, 0.76rem + 0.513vw, 1.375rem));
        display: block;
        letter-spacing: 0.01em;
        margin-top: 4px;
    }

    &__payment-rent {
        @include font(600, clamp(0.875rem, 0.76rem + 0.513vw, 1.375rem));
        display: block;
        letter-spacing: 0.01em;
        margin-top: 5px;
    }

    &__price {
        @include font(500, clamp(0.625rem, 0.538rem + 0.385vw, 1rem));
        @include adaptive-value('margin-bottom', 15, 6, 0, 1400);
        letter-spacing: 0.01em;

        span {
            @include font(600, clamp(0.625rem, 0.538rem + 0.385vw, 1rem));
            letter-spacing: 0.01em;
        }
    }

    &__price-rent {
        @include adaptive-value('margin-bottom', 30, 12, 0, 1400);
    }

    &__more {
        @include font(500, clamp(0.625rem, 0.538rem + 0.385vw, 1rem));
        @include adaptive-value('margin-bottom', 30, 12, 0, 1400);
        display: flex;
        align-items: center;

        &::after {
            content: '';
            background-image: url(@/assets/images/arrow-right-small.svg);
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            width: 8px;
            height: 13px;
            // margin-left: 10px;
            @include adaptive-value('margin-left', 10, 1, 0, 1400);
            transform: translateX(0px);
            transition: transform 0.2s ease-in-out;
        }

        &:hover::after {
            transform: translateX(5px);
        }
    }

    &__book {
        width: 100%;
    }

    &__plate-number {
        @include font(600, clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem));
        @include adaptive-value('margin-top', -10, -5, 0, 1400);
        @include adaptive-value('margin-bottom', 20, 12, 0, 1400);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }
}

@include media-query($lg) {
    .card {
        &__more {
            display: none;
        }
        &__plate-number {
            display: none;
        }
    }
}

@include media-query($md) {
    .card {
        &__book {
            display: none;
        }
        &__price {
            margin-bottom: 0;
        }
    }
}
